<!-- About Section -->
<section id="about" class="about section light-background">
    <!-- Section Title -->
     <div class="container section-title" data-aos="fade-up">
     <h2>What We Do<br></h2>
     </div>
    <!-- End Section Title -->
    <div class="container d-flex flex-column align-items-center text-center mt-auto" data-aos="fade-up" data-aos-delay="300">  
      <h4>
      Our focus is on being up-to-date and in contact with professors and experts in our research fields.<br>
          In each seminar series, speakers present their research and scientific activities and articles written by themselves.<br>
          The participants, whether in person or online, can participate in the meeting and have access to the published files.<br>
          During the seminar and at the end, there will be questions and answers, and at the end there is a possibility to communicate with the speaker and have a conversation with them.
      </h4>    
    </div>  

  </section><!-- /About Section -->