<!-- Blog Section -->
<section id="blog" class="light-background">
    <!-- Section Title -->
    <div class="container section-title" data-aos="fade-up">
    <h2>Blog<br></h2>
    </div>

<!-- Testimonials Section -->
<section  class="testimonials section dark-background">


    <div class="container" data-aos="fade-up" data-aos-delay="100">
 
    <div class="swiper init-swiper">
     <script type="application/json" class="swiper-config">
       {
         "loop": true,
         "speed": 600,
         "autoplay": {
           "delay": 5000
         },
         "slidesPerView": "auto",
         "pagination": {
           "el": ".swiper-pagination",
           "type": "bullets",
           "clickable": true
         }
       }
     </script>
     <div class="swiper-wrapper">

      {% for post in site.posts %}
 
       <div class="swiper-slide">
         <div class="testimonial-item">
          <img src="{{post.avatar}}" class="testimonial-img" alt="">
           <h3>{{post.speaker}}</h3>
           <h4>{{post.position}}</h4>
           <p>
             <i class="bi bi-quote quote-icon-left"></i>
             <span>
              <a href="{{post.url}}">{{post.title}}</a>
             </span>
             <i class="bi bi-quote quote-icon-right"></i>
           </p>
         </div>
       </div><!-- End testimonial item -->

       {% endfor %}

     </div>
     <div class="swiper-pagination"></div>
     </div>
 
     </div>
 
 </section>
 <!-- /Testimonials Section -->  
</section>  