<!-- Contact Section -->
<section id="contact" class="contact section">

    <!-- Section Title -->
    <div class="container section-title" data-aos="fade-up">
      <h2>Contact</h2>
      <p>Please feel free to connect with us</p>
    </div><!-- End Section Title -->

    <div class="container" data-aos="fade-up" data-aos-delay="100">

      <div class="row gy-4">

        <div class="col-lg-6">
          <div class="info-item d-flex flex-column justify-content-center align-items-center" data-aos="fade-up" data-aos-delay="200">
            <i class="bi bi-geo-alt"></i>
            <h3>Address</h3>
            <p>Faculty of Mathematics and Computer Science
              Amirkabir University of Technology</p>
          </div>
        </div><!-- End Info Item -->

        <div class="col-lg-3 col-md-6">
          <div class="info-item d-flex flex-column justify-content-center align-items-center" data-aos="fade-up" data-aos-delay="300">
              <a href="https://t.me/MIND_Laboratory" class="d-flex flex-column justify-content-center align-items-center">
                <i class="bi bi-telegram pulsating-play-btn" style="color: white;">
                </i>
              </a>
            <h3>Telegram Channel</h3>
            <p>Join Us</p>

          </div>
        </div><!-- End Info Item -->

        <div class="col-lg-3 col-md-6">
          <div class="info-item d-flex flex-column justify-content-center align-items-center" data-aos="fade-up" data-aos-delay="400">
            <i class="bi bi-envelope"></i>
            <h3>Email Us</h3>
            <p>mabbaszadeh.aut@gmail.com</p>
          </div>
        </div><!-- End Info Item -->

      </div>

    </div>

</section><!-- /Contact Section -->