<!-- Speakers Section -->
<section id="team" class="speakers section">
  <!-- Section Title -->
  <div class="container section-title" data-aos="fade-up">
    <h2>Team Members<br></h2>

  </div><!-- End Section Title -->

  <div class="container">

    <div class="row gy-4">

      {% for member in site.data.members %}
      <div class="col-xl-3 col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="100">
        <div class="member">
          <img src="{{ member.img }}" class="img-fluid" alt="">
          <div class="member-info">
            <div class="member-info-content">
              <h4><a href="speaker-details.html">{{ member.name }}</a></h4>
              <span>{{ member.title }}</span>
            </div>
            <div class="social">
              {% for s in member.social%}
              <a href="{{s.link}}" target="_blank"><i class="bi {{s.icon}}"></i></a>
              {% endfor %}
            </div>
          </div>
        </div>
      </div><!-- End Team Member -->
      {% endfor %}
    </div>
  </div>

</section><!-- /Speakers Section -->