<!-- Speakers Section -->
<section id="team" class="speakers section">
  <!-- Section Title -->
  <div class="container section-title" data-aos="fade-up">
    <h2>Team Members<br></h2>

  </div><!-- End Section Title -->

  <div class="container">

    <div class="row gy-4">

      {% for member in site.members %}
      <div class="col-xl-2 col-lg-4 col-md-3 aos-init aos-animate" data-aos="fade-up" data-aos-delay="100">
        <div style="width: 200px; height: 230px;" class="member">
          <img src="{{ member.avatar }}" style="width: 100%; height: 100%; object-fit: cover;" alt="">
          <div class="member-info">
            <div class="member-info-content">
              <h4><a href="{{member.url}}">{{ member.name }}</a></h4>
              <span>{{ member.title }}</span>
            </div>
            <div class="social">
              {% for s in member.social%}
              <a href="{{s.link}}" target="_blank" class="mx-1" ><i class="{{s.icon}}"></i></a>
              {% endfor %}
            </div>
          </div>
        </div>
      </div><!-- End Team Member -->
      {% endfor %}
    </div>
  </div>

</section><!-- /Speakers Section -->
