<header id="header" class="header d-flex align-items-center fixed-top">
  <div class="container-fluid container-xl position-relative d-flex align-items-center">
  
  <a href="{{ '/' | relative_url }}" class=" d-flex align-items-center me-auto">
    <div class="logo-container">
      <img src="{{ '/assets/img/Logo_6_prev_ui.png' | relative_url }}" alt="" style="filter: contrast(200%);">
      <img src="{{ '/assets/img/AKUT.png' | relative_url }}" alt="">
    </div>
  <div class="sitename"> 
  <h1><b>{{site.name}}</b></h1> 
  </div>
  </a>

  <nav id="navmenu" class="navmenu">
      <ul>
      {% for item in site.data.navigation %}
      <li><a href="{{ '/' | relative_url }}#{{item.link}}" {% if forloop.index == 1 %} class="active" {% endif %}>{{item.name}}<br></a></li>
      {% endfor %}
      </ul>
      <i class="mobile-nav-toggle d-xl-none bi bi-list"></i>
  </nav>
  </div>

</header>
