---
layout: default
---
<section class="dark-background">
</section>

<section id="team" data-aos="fade-up" class="dark-background">
    <div class="container">
        <div class="row">
            <div class="col-3 speakers">
                <div class="d-flex align-items-center justify-content-center flex-column member">
                    <img src="{{ page.avatar }}" class="img-fluid" alt="">
                    <div class="social">
                        {% for s in page.social%}
                        <a href="{{s.link}}" target="_blank" class="mx-1" ><i class="bi {{s.icon}}"></i></a>
                        {% endfor %}
                      </div>
                </div>
       
            </div>
            <div class="col-9">
                <h1>{{page.name}}</h1>
                <div class="mb-3">
                    <i>{{page.title}}</i> 
                </div>   
                <div>
                    {{ content }}
                </div>
            </div>
        </div>
    </div>
</section>